{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        {{- with .Params.tags -}}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{ range . -}}
            {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
      </div>
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
    </div>
    <!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
{{ if ($.Scratch.Get "photoswipeloaded") }}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/js/load-photoswipe.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
{{ end }}
  </article>
{{ end }}